cal
images
proc
__pycache__
*pkl
snolab_image/proc_corr_proc_skp_sensei_2023-02-14_135K_run7_commissioning_NROW520_NBINROW1_NCOL3200_NBINCOL1_EXPOSURE72000_CLEAR10800_5_83.fits
.DS_Store
paper/*.log
paper/*.bbl
paper/*.blg
paper/*.gz
paper/*.aux
paper/*fdb*
paper/*.fls
paper/*.out
*.npz
*.h5
figures/*
*.png
*.csv
